# ignore maven build directories
target/
# ignore maven wrapper jar that gets built locally
.mvn/wrapper/maven-wrapper.jar
# ignore Eclipse configuration files
.project
.classpath
.settings
# ignore IntelliJ configuration files
.idea/
*.iml
*.ipr
*.iws
# ignore NetBeans configuration
nb-configuration.xml
*.bak
# ignore vim swap files
*.swp
